/*-Funding Meta-*/
.funding-meta {

}

.funding-meta h1 {
    border-radius: 4px;
    display: table;
    font-size: 25px;
    font-weight:700;
}
.type-meta {
    /*color:#A7A7A7;*/
    color: #3cc47c;
    font-size: 15px;
    display: inline-block;
    margin: 0px 0px 20px 0px;
}

.type-meta:hover {
    color: black;
}
.type-meta i.fa {
    color:#99DEAB;
    margin-right:5px;
}
.funding-meta h2{
    font-weight:700;
}
.funding-meta p {
    color: black;
    margin: 50px 0px 10px 0px;
}
.video-frame {
    /*position: absolute;*/
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    display:block;
    width: 100%;
    max-height: 100%;
}

.full-img {
    height: auto;
    width: 100%;
    position: relative;
}
.video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.funding-meta h2, .funding-meta span.contribution {
    display:inline-block;
    color: #3cc47c;
}
.funding-meta span.contribution, .funding-meta span.goal-progress {
    color: #A7A7A7;
}
.funding-meta span.goal-progress {
    text-align:right;
    display: block;
}
.count-down {
    display: block;
    color: #A7A7A7;
    text-align: right;
    text-transform: uppercase;
}
.count-down strong {
    padding-right:5px;
}

.prog-main {
    height: 20px;

}

.progress-bar-success {
    background-color:#3cc47c;
}

.section-block.summary {
    background-color: #3cc47c;
}

.section-title {
    color: #3cc47c;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FFF;
    background-color: #3cc47c;
    border: 0;
    border-radius: 4px;
    font-weight:700;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover {
    border:0;
    margin-right: 10px;
    color:#A7A7A7;
}
