<!DOCTYPE html>
<html ng-app="app">
<head>
    <title> Sell Item</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LottoDeal</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- dynamic loading of pages -->
    <script src="js/tabs.js"></script>

</head>




<!-- Facebook Login code -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="loginPopup">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="loginTitle">
            Please Login
        </h4>
    </div>
    <div class="modal-body">
        <p id = "successScreen">
            
        </p>
        <center><button type="button" class="facebook-button" id="loginToFacebook">
            Login With Facebook
        </button> </center>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>
<!-- End Facebook Login code -->












<body ng-controller="sellController">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-lg-3">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Home</a>
                </div>
                </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="col-lg-9">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                      <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
                          <div class="btn-group pull-left" style="margin-right:10px; min-width: 100%;">

                              <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Search for Lotteries!" id="query" name="query" ng-model="searchText" value="">
                                  <div class="input-group-btn">
                                      <button type="submit" class="btn btn-success search-btn"><span class="glyphicon glyphicon-search"></span></button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </li>
                    <li>
                        <a id = "sell" href="sell.html">Sell</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i>Notifications <span class="badge">{{notifications.length}}</span></a>

                        <ul class="dropdown-menu notifications" role="menu">
                            <div class="notification-heading"><h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                            </div>
                            <li class="divider"></li>

                            <div class="notifications-wrapper">
                               <div ng-repeat= "notification in notifications">
                               <a class="content" href="#">
                                <div class="notification-item">
                                    <h4 class="item-title">{{notification.title}}</h4>
                                    <p class="item-info">{{notification.description}}</p>
                                </div>
                                </a>
                                </div>
                            </div>
                            <li class="divider"></li>
                            <div class="notification-footer"><h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
                        </ul>
                    </li>
                    <li>
                        <a id = "profile" href="profile.html">Account</a>
                    </li>
                    <li>
                        <a id = "login" onclick = "showLoginPopup()">Login</a>
                    </li>
                </ul>
            </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Modal -->
  <div class="modal fade" id="postCreatedModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Congratulations, you have successfully posted an item!</h4>
        </div>
        <div class="modal-body">
          <p>Click <a href="item.html">here</a> to view your item and edit it.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!-- <script>
  (function() {
    var cur
  })
</script>
 -->
<!--Page Content -->
<div class="container content">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Let's Get Selling</h2>
    <p class="lead">It's as easy as filling this form and boom, we'll lottery it for you ;)</p>
  </div>
</div>
  <form id="submitForm" action="https://localhost:8000/createPost" method="post" enctype="multipart/form-data" >
    <div class="form-group">
      <label for="example-text-input">Title</label>
      <input id="title" name="title" type="text" class="form-control" id="exampleInput" aria-describedby="emailHelp" placeholder="Enter Product Name">
    </div>
    <div class="form-group">
      <label for="exampleInput">Price</label>
    <input id="price" type="number" name="price" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Enter Amount">
    </div>

    <!-- <div class="form-group">
      <label for="exampleInputFile">Upload Picture</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">
        Upload a picture of your product. 
      </small>
    </div> -->
    <div class="form-group">
      <label>Item Picture</label>
      <input type="file" name="picture" id="itemPicture"/>
    </div>


    <div class="form-group">
      <!-- <input type="text" name="date" id="expirDate"/>  -->
    <select name="expirDate" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="expirDate">
    <option value="" selected>Time Period</option>
    <option value="1">1 Day</option>
    <option value="2">1 Week</option>
    <option value="3">1 Month</option>
  </select>
  <label>To Sell Item</label>
    </div>

    <div class="form-group">
      <label for="exampleTextarea">Product Description</label>
      <textarea name="description" class="form-control" id="description" rows="3"
      placeholder="Describe The Product"></textarea>
    </div>


    <input name="userID" id="userid" value="default" style="display: none"/>
    <button type="submit" id="submitButton" class="btn btn-primary" disabled="disabled">Submit</button>
  </form>
</div>

<!-- Footer -->
<footer>
    <hr>
    <div class="rows">
      <div class="col-lg-6">
        <a href="contact.html" class="footerlink">Contact Us</a>
      </div>
      <div class="col-lg-6">
        <a href="about.html" class="footerlink">About Us</a>
      </div>
    </div>
    <div class="rows">
        <div class="col-lg-12">
            <p>Copyright &copy; LottoDeal 2017</p>
        </div>
    </div>
</footer>

<script type="text/javascript">console.log(localStorage.getItem("curUserID"))</script>

  <!-- INCLUDE DEPENDENCIES -->
  <!-- AngularJS Include -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

  <!-- Angular Route -->

  <!-- JQuery Include -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap JS Include -->

  <!-- Custom script -->
  <script src="js/sell.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- dynamic loading of pages -->
    <script src="js/tabs.js"></script>

<!-- for facebook modal login -->
    <script src="js/facebooklogin.js"></script> 

</body>
</html>
